

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  
</style>

<div class="toolbar" role="banner">
  <span>Employee</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

 <div class="emp-div">
  <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="empId" class="form-label">Employee ID</label>
      <input type="text" class="form-control" formControlName="empId" id="empId" placeholder="EnterId">
    </div>
    <div class="mb-3">
      <label for="empName" class="form-label">Employee Name</label>
      <input type="text" class="form-control" formControlName="empName" id="empName" placeholder="Enter Name">
    </div>
    <input type="submit" class="btn btn-primary" >
  </form>
  
 </div>

</div>



<router-outlet></router-outlet>
